.lead__coption {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__coption{
    margin-left: 24px;
  }
}
@media screen and (max-width: 320px) {
  .lead__coption {
    margin-left: 16px; 
  }
}